<h2 class="text-2xl font-semibold text-teal-500">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: "bg-teal-100 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-red-500 text-xs italic" %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.submit "Resend confirmation instructions", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links", class: "text-teal-500 hover:text-teal-700" %>
