<h2 class="text-2xl font-semibold text-teal-500">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "bg-teal-100 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-red-500 text-xs italic" %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="mb-4 text-gray-500 text-xs">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-6">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %> <i class="text-xs text-gray-500">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if @minimum_password_length %>
      <br />
      <em class="text-xs text-gray-500"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :current_password, class: "block text-gray-700 text-sm font-bold mb-2" %> <i class="text-xs text-gray-500">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Update", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<h3 class="text-2xl font-semibold text-teal-500">Cancel my account</h3>

<p class="text-gray-700 text-sm">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %></p>

<%= link_to "Back", :back, class: "text-teal-500 hover:text-teal-700 text-sm font-semibold" %>
