<h2 class="text-2xl font-semibold text-teal-500">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "bg-teal-100 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-red-500 text-xs italic" %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <% if @minimum_password_length %>
    <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Sign up", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links", class: "text-center mt-6 text-teal-500" %>
