<%= form_with(model: task, class: "contents", id: "#{dom_id(task)}_form") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-7 mb-10 flex">
    <%= form.label :description, class: "sr-only" %>
    <%= form.text_field :description, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-0 flex-grow" %>
    <%= form.submit class: "rounded-lg ml-4 py-3 px-5 bg-teal-500 text-white font-medium cursor-pointer" %>
  </div>
  <% if action_name == "edit" %>
    <%= form.rich_text_area :content, class: "mb-5" %>
  <% end %>

<% end %>
