<div id="<%= "#{dom_id(task)}_item" %>" data-id="<%= task.id %>">
  <div class="my-3 mx-2 flex justify-between">
    <%= turbo_frame_tag dom_id(task) do %>
      <div class="flex items-center">
        <%= form_with(model: task, class: "text-lg inline-block my-3", data: { controller: "tasks" }) do |f| %>
          <input type="checkbox"
              <% if task.completed %> checked <% end %>
              data-action="click->tasks#toggleCompleted"
              data-tasks-target="checkbox"
              class="mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-teal-300 h-5 w-5 rounded checked:bg-teal-500"
          >
          <%= f.hidden_field :completed, data: {tasks_target: "input"} %>
        <% end %>
        <%= link_to task.description, edit_task_path(task), class: "cursor-pointer" %>
      </div>
      <% if action_name == "show" %>
        <div>
          <%= task.content %>
        </div>
      <% end %>
    <% end %>

    <% if action_name != "show" %>
      <i class="fa-solid fa-grip-vertical sortable-handle rounded-lg pt-5 pl-5 inline-block font-medium"></i>
    <% end %>
  </div>
</div>
