<div class="mx-auto md:w-2/3 w-full">

  <%= turbo_frame_tag dom_id(@task) do %>
    <%= render "form", task: @task %>
    <div class="flex">
      <%= link_to tasks_path do %>
        <i class="fa-solid fa-arrow-left rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"></i>
      <% end %>
      <%= link_to @task, target: '_top' do %> <%# TODO: don't allow clicking through to show if has unsaved changes %>
        <i class="fa-regular fa-eye rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"></i>
      <% end %>
      <%= button_to @task, method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa-regular fa-trash-can rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"></i>
      <% end %>
    </div>
  <% end %>

</div>
