<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block fixed right-0" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tasks</h1>
  </div>

  <% if current_user %>
    <div class="min-w-full">
      <%= render "form", task: @task %>
    </div>

    <div id="tasks" class="min-w-full divide-y" data-controller="drag" data-drag-url="/tasks/:id/move">
      <%= render @tasks %>
    </div>
  <% else %>
    <p class="py-2 px-3 bg-green-50 my-5 text-green-500">
      Please <%= link_to "sign in", new_user_session_path, class: "hover:text-green-700 underline" %> to create a task.
    </p>
  <% end %>
</div>
