<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block fixed top-0 right-0" id="notice"><%= notice %></p>
    <% end %>

    <%= render @task %>

  </div>
</div>
