<h2 class="text-2xl font-semibold text-teal-500">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "bg-teal-100 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-red-500 text-xs italic" %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mb-4">
    <%= f.label :password, "New password", class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, "Confirm new password", class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.submit "Change my password", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>

<% end %>

<%= render "devise/shared/links", class: "text-teal-500 hover:text-teal-700" %>
