<h2 class="text-2xl font-semibold text-teal-500">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "bg-teal-100 shadow-md rounded px-8 pt-6 pb-8 mb-4") do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-6 flex items-center">
      <%= f.check_box :remember_me, class: "form-checkbox w-4 h-4 text-teal-500" %>
      <%= f.label :remember_me, class: "ml-2 text-sm text-gray-700" %>
    </div>
  <% end %>

  <div class="flex items-center justify-between">
    <%= f.submit "Log in", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
